---
title: Author archive
layout: layouts/base.njk
pagination:
  data: collections.authors
  size: 1
  alias: author
permalink: "authors/{{ author | slug }}/"
renderData:
  author: "{{ author }}"
  title: "Posts by {{ author }}"
  metaDescription: "An archive of all posts by the author: {{ author }}."
---

<h1>{{ renderData.title | safe }}</h1>

<section class="text-gray-600 body-font overflow-hidden not-prose">
  <div class="container pb-24 mx-auto max-w-2xl">
    <div class="flex flex-wrap -m-12">
			{% for post in collections.authors[author] | reverse %}
      <article{% if post.url == url %} data-current="current item"{% endif %} class="p-12 flex flex-col items-start">
				<a href="{{ post.url | url }}">
					<img src="/static/img/blog/{{ post.image }}" alt="{{ post.imageAlt }}" />
				</a>
        <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-2">
					<a href="{{ post.url | url }}" class="hover:underline hover:text-red-500">
						{% if post.title %}
							{{ post.title }}
						{% else %}
							Untitled
						{% endif %}
					</a>
				</h2>
				<time datetime="{{ post.date | machineDate }}" class="mb-2">
					<small>{{ post.date | readableDate }} by {{ post.author }}</small>
				</time>
				{% if post.summary %}
					<p class="leading-relaxed mb-8">
						{{ post.summary }}
					</p>
				{% endif %}
        <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
					{% if post.tags %}
						{% for tag in post.tags %}
							{%- if tag != "post" -%}
								{% set tagUrl %}/tags/{{ tag }}/{% endset %}
							<a href="{{ tagUrl | url }}" rel="tag" class="inline-block py-1 px-2 rounded bg-red-50 text-red-500 text-xs font-medium tracking-widest mr-2">{{ tag }}</a>
							{%- endif -%}
						{% endfor %}
					{% endif %}
        </div>
      </article>
			{% endfor %}
    </div>
  </div>
</section>

<nav>
	<a href="{{ '/authors/' | url }}">← Authors index</a>
</nav>