<section class="text-gray-600 body-font overflow-hidden not-prose">
  <div class="container pb-24 mx-auto max-w-2xl">
    <div class="flex flex-wrap -m-12">
			{% for post in postslist | reverse %}
      <article{% if post.url == url %} data-current="current item"{% endif %} class="p-12 flex flex-col items-start">
				<a href="{{ post.url | url }}">
					<img src="/static/img/blog/{{ post.data.image }}" alt="{{ post.data.imageAlt }}" />
				</a>
        <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-2">
					<a href="{{ post.url | url }}" class="hover:underline hover:text-red-500">
						{% if post.data.title %}
							{{ post.data.title }}
						{% else %}
							Untitled
						{% endif %}
					</a>
				</h2>
				<time datetime="{{ post.date | machineDate }}" class="mb-2">
					<small>{{ post.date | readableDate }} by <a href="/authors/{{ post.data.author | slug }}/" class="hover:underline hover:text-red-500">{{ post.data.author }}</a> <strong class="mx-2">&bull;</strong> <span>About {{ post | readingTime({speed:200}) }} reading time</span></small>
				</time>
				{% if post.data.summary %}
					<p class="leading-relaxed mb-8">
						{{ post.data.summary }}
					</p>
				{% endif %}
        <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
					{% if post.data.tags %}
						{% for tag in post.data.tags %}
							{%- if tag != "post" -%}
								{% set tagUrl %}/tags/{{ tag }}/{% endset %}
							<a href="{{ tagUrl | url }}" rel="tag" class="inline-block py-1 px-2 rounded bg-red-50 text-red-500 text-xs font-medium tracking-widest mr-2">{{ tag }}</a>
							{%- endif -%}
						{% endfor %}
					{% endif %}
        </div>
      </article>
			{% endfor %}
    </div>
  </div>
</section>