---
layout: layouts/base.njk
section: 404
---

{{ layoutContent | safe }}

<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-5 items-center justify-center flex-col">
    <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center my-0" alt="hero" src="static/img/404.png">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Well, this is awkward*</h1>
      <p class="mb-8 leading-relaxed">I don't know how you got here, but it's alright, we all make mistakes.</p>
      <div class="flex justify-center mb-10">
        <a href="{{ '/' | url }}" class="no-underline inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Go Back Home</button>
        <a href="{{ '/contact/' | url }}" class="ml-4 no-underline inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Shoot me a message</button>
      </div>
        <small>*This is a 404 page, btw</small>
    </div>
  </div>
</section>