---
layout: layouts/base.njk
section: contact
---
<h1>{{ title }}</h1>

<img src="/static/img/email-header.png" alt="Contact Daruma Creative" />

{{ layoutContent | safe }}

{% include "components/form.njk" %}
